<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; Reminders</b></a>
</nav>

<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign Up</h3>
            </div>

            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="name" name="name" placeholder="Name" id="login_name" required>
                    </div>
                    <div style="color: white;" *ngIf="(this.registerForm.get('name')?.touched||this.registerForm.get('name')?.dirty)&&this.registerForm.get('name')?.errors" class="error">Invalid Name</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="userid" name="userid" placeholder="User Id" id="login_userid" required>
                    </div>
                    <div style="color: white;" *ngIf="(this.registerForm.get('userid')?.touched||this.registerForm.get('userid')?.dirty)&&this.registerForm.get('userid')?.errors" class="error">Invalid UserId</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pswd" name="pswd" placeholder="Password" id="login_password" required>
                    </div>
                    <div style="color: white;" *ngIf="(this.registerForm.get('pswd')?.touched||this.registerForm.get('pswd')?.dirty)&&this.registerForm.get('pswd')?.errors" class="error">Invalid Password</div>
                    

                    <div class="form-group">
                        <input type="submit" value="Register"  class="btn float-right login_btn"
                            style="width:50%">
                    </div>
                </form>
            </div>
            <p style="color:white;align-items:baseline;">Already Existing user? <a routerLink="">Login</a></p>
        </div>
    </div>
</div>